*{
background-color: aqua;
}
#refresh{
    text-align: center;
    font-size: 6rem;
    
}
.container{
    height: 20rem;
    width: 99%;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10rem;
    background-color: antiquewhite;
}
.firstdice{
    height: 12rem;
    width: 12rem;
    border: 2px solid black ;
    background-size: cover;
    overflow: hidden;
   

}
.seconddice{
    height: 12rem;
    width: 12rem;
  

 
  
}

#fimage, #simage{
    width: 12rem;
    height: 12rem;
    background-size: contain;
    object-fit: cover;
    object-position: center;
}
.text{
    text-align: center;
    display: flex;
    justify-content: center;
    gap:12rem;
}

.screen{
    margin-top: 2rem;
    width:14rem;
    height: 3rem;
 font-size: 1.5rem;
}
