#sandip{
height: 775px;
width: 650px; 
margin-left: 30%;
}
#black-background{
 background-color:black;
height: 775px;
width: 650px;   
display: flex; 


}


#box1{
    padding-top:60px;
    padding-left: 30px;
    text-transform: capitalize;
    height: 775px;
    width: 375px;
 color: yellow;
     font-size:65px ;
  
}
#box2{
    height: 775px;
    width: 150px;
    clip-path: polygon(64% 67%, 100% 0, 100% 100%, 0% 100%);
    


    background-color:rgb(220, 57, 57);
    margin-left:100px ;
}
#white{
    color: white;
}
button{
   height: 40px;
   background-color: rgb(129, 203, 203);
   border-radius: 10px;
   font-weight: 800;
   text-transform: capitalize;
    
}
#motive{
    margin-top:50px;
    color: white ;
    font-size: 20px;
}